.container-fluid {
  padding: 0; }
  .container-fluid header {
    overflow: hidden; }
    .container-fluid header .header-top {
      background: #222; }

.row a {
  color: #fff;
  text-decoration: none; }
  .row a:hover {
    color: #3498db; }

.logo {
  margin: 3px 125px; }

.menu {
  padding: 17px 44px;
  float: left; }
  .menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    .menu ul li {
      display: inline-block;
      padding-right: 32px; }
      .menu ul li a {
        font-weight: bold;
        padding: 15px 20px; }
        .menu ul li a:hover {
          border-bottom: 5px solid #fff; }

.col-9 {
  overflow: hidden; }
  .col-9 .login {
    margin: 17px 132px;
    float: left;
    color: #fff; }
    .col-9 .login a {
      font-weight: bold; }

.header-bottom {
  text-align: center;
  color: #fff;
  background: #343434;
  padding-bottom: 50px; }
  .header-bottom h2 {
    margin: 67px 0px 40px;
    font-size: 65px; }
  .header-bottom .form-group {
    overflow: hidden;
    text-align: center; }
    .header-bottom .form-group input {
      float: left;
      max-width: 50%;
      margin-left: 341px;
      padding: 10px 10px;
      border-radius: 7px 0px 0px 7px; }
    .header-bottom .form-group button {
      float: left;
      padding: 11px 19px;
      border-radius: 0px 7px 7px 0px;
      background: #fff;
      border: none; }

main {
  overflow: hidden; }

.main-menu {
  text-align: center;
  border-bottom: 1px solid #b7b7b7; }
  .main-menu ul {
    list-style-type: none;
    padding-top: 10px; }
    .main-menu ul li {
      display: inline-block;
      padding: 0px 25px; }
      .main-menu ul li a {
        text-decoration: none;
        color: #000;
        font-weight: bold;
        font-size: 17px; }
        .main-menu ul li a:hover {
          color: #3498db; }

.contain {
  background: #f9f9f9;
  overflow: hidden;
  padding-bottom: 51px; }
  .contain .row {
    margin: 63px 128px; }
    .contain .row .card {
      max-width: 23.6%;
      float: left;
      border-radius: 5px;
      overflow: hidden;
      padding: 0;
      margin-right: 20px; }
      .contain .row .card a {
        color: #000; }
      .contain .row .card img {
        max-width: 100%; }
      .contain .row .card .title {
        padding: 10px; }
        .contain .row .card .title p {
          margin: 0; }
      .contain .row .card .icon {
        border-top: 1px solid #8b8b8b;
        padding: 10px 0px;
        margin: 0px 10px; }
    .contain .row #last {
      margin: 0; }

footer {
  overflow: hidden;
  background: #222;
  color: #fff; }
  footer .footer {
    margin: 15px 112px; }
    footer .footer h2 {
      font-size: 38px;
      margin: 17px 12px 50px; }
    footer .footer .footer_top {
      padding-bottom: 25px; }
      footer .footer .footer_top .develop {
        margin: 0px 183px 0px 12px; }
      footer .footer .footer_top h5 {
        font-weight: bold;
        font-size: 17px; }
      footer .footer .footer_top p {
        color: #b3b3b3;
        font-size: 12px; }

.footer_bottom {
  border-top: 1px solid gray;
  overflow: hidden; }
  .footer_bottom .left {
    float: left;
    padding: 0; }
    .footer_bottom .left .menu_footer ul {
      list-style-type: none;
      padding: 0;
      margin: 20px 0px; }
      .footer_bottom .left .menu_footer ul li {
        display: inline-block;
        margin-right: 20px; }
        .footer_bottom .left .menu_footer ul li a {
          text-decoration: none;
          font-weight: bold;
          font-size: 15px; }
  .footer_bottom .right {
    float: right;
    margin-top: 30px;
    padding: 0; }
    .footer_bottom .right ul {
      list-style-type: none; }
      .footer_bottom .right ul li {
        display: inline-block;
        float: right;
        padding: 0px 10px; }
        .footer_bottom .right ul li a {
          text-decoration: none; }
          .footer_bottom .right ul li a img {
            border-radius: 2px; }

.contain {
  overflow: hidden;
  padding: 77px 116px; }
  .contain .content_left {
    float: left; }
    .contain .content_left img {
      width: 108%;
      padding-bottom: 50px; }
    .contain .content_left p {
      font-weight: 500; }
  .contain .content_right {
    float: right;
    width: 24%; }
    .contain .content_right .card_title {
      margin: 0; }
      .contain .content_right .card_title .card {
        max-width: 100%;
        border-radius: 0;
        border: 0;
        background: #f9f9f9; }
        .contain .content_right .card_title .card .icon span {
          padding-right: 15px; }
        .contain .content_right .card_title .card .user {
          overflow: hidden; }
          .contain .content_right .card_title .card .user .left {
            padding: 20px 10px;
            float: left; }
            .contain .content_right .card_title .card .user .left p {
              font-weight: bold; }
            .contain .content_right .card_title .card .user .left .view {
              background: #5261e9;
              color: white;
              border-radius: 15px;
              padding: 5px 20px; }
              .contain .content_right .card_title .card .user .left .view:hover {
                background: #a305d3;
                color: #ffffff; }
          .contain .content_right .card_title .card .user .right {
            float: right;
            padding: 31px 0px; }
            .contain .content_right .card_title .card .user .right img {
              width: 66px;
              border-radius: 34px; }
        .contain .content_right .card_title .card .contact {
          text-align: center;
          padding: 115px 0; }
          .contain .content_right .card_title .card .contact ul {
            list-style-type: none;
            padding: 0 0 15px 0;
            text-align: center; }
            .contain .content_right .card_title .card .contact ul li {
              display: inline-block;
              padding: 0px 15px 0px 0px; }
              .contain .content_right .card_title .card .contact ul li a img {
                width: 20px;
                border-radius: 34px; }
            .contain .content_right .card_title .card .contact ul .last {
              padding: 0; }
          .contain .content_right .card_title .card .contact .install {
            background: #5261e9;
            color: white;
            border-radius: 30px;
            padding: 15px 70px; }
            .contain .content_right .card_title .card .contact .install:hover {
              background: #a305d3;
              color: #ffffff; }

/*# sourceMappingURL=styles.css.map */
